*{
	margin: 0;
	padding: 0;
}


.navbar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #628fd7;
	padding: 30px 0;
	color: white;
}


.profile{
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav-links{
	display: flex;
	gap: 15px;
}

.nav-links a {
    cursor: pointer;
    display: inline-block;
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

.nav-links a:hover {
    transform: scale(1.05);
}


ul{
	list-style:none;
}


.about, .contact{
	padding: 60px 0;
	text-align: center;
}

.desc, .my-contact{
	margin-top: 15px;
}

.projects{
	display: flex;
	flex-direction: column;
	padding: 23px 0;
	align-items: center;
	background-color: #4f8de4;
	color: white;

}

.desc{
	margin-top: 15px;
}

.project1{
	display: flex;
	flex-direction: column;
	max-width: 770px;
	align-items: center;
	border: 3px solid #026181;
}

.form{
	text-align: center;
	background-color: #0c1d8b;
	color: white;
}

.my-form{
	display: flex;
	flex-direction: column;
	padding: 23px 0;
	align-items: center;
	background-color: #021181;
	font-size: 18px;
}

.msg{
	display: flex;
	align-items: center;
	margin: 20px 0;
}

button {
    font-size: 19px;
    padding: 7px 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #45a049;
    transform: scale(1.05);
}

.rights{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	font-size: 18px;
}